<template>
  <div
    class="fill-height"
    :style="{
      display: 'flex',
      flexDirection: 'column',
      width: '100%'
    }"
  >
    <!-- Album title, description -->
    <div class="mb-3 text-xs-center">
      <nuxt-link
        :to="`/album/${album.id || ''}`"
        class="display-1 font-weight-bold"
        :style="{
          textDecoration: 'none'
        }"
      >{{ album.title || "..." }}</nuxt-link>
      <!-- <div v-html="album.description || ''"></div> -->
    </div>

    <!-- Child content -->
    <nuxt-child />

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import Album from "@classes/Album.class";

@Component({})
export default class AlbumPageShell extends Vue {
  // GKS helper
  $gks: $gks.$gks;
  $route: any;

  // Get the album
  get album(): Album {
    return this.$gks.data.albums.find(i => i.id == this.$route.params.id) || new Album(null);
  }


  /**
   * Make sure we've got albums
   */
  mounted() {
    this.$gks.actions.getAlbums();
  }
}
</script>
