<template>
  <div>
    <!-- Album title -->
    <div class="mb-4 text-xs-center">
      <nuxt-link
        class="display-1 font-weight-bold"
        :to="`/admin/album/${album.id || ''}`"
        :style="{
          textDecoration: 'none'
        }"
      >{{ album.title }}</nuxt-link>
    </div>

    <!-- Render child content -->
    <nuxt-child />

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import Album from "@classes/Album.class";
import Photo from "@classes/Photo.class";

@Component({})
export default class AdminAlbumWrapperPage extends Vue {
  $gks: $gks.$gks;
  $route: any;
  $router: any;
  $axios: any;
  $refs: {
    fileInput: HTMLElement
  }

  // Get all albums
  get albums(): Array<Album> {
    return this.$gks.data.albums;
  }
  // Get specific album
  get album(): Album {
    return this.albums.find(i => i.id == this.$route.params.id) || new Album(null);
  }

}
</script>
