<template>
  <v-layout row>
    <v-flex xs12 md6 offset-md3>
      <v-card class="elevation-5">
        <v-card-title class="font-weight-bold">New Album</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form v-model="formValid">
            <!-- Title -->
            <v-text-field
              type="text" label="Title"
              outline hide-details class="mb-2"
              v-model="title" :rules="[checkNotBlack]"
              autofocus
              @keyup.enter="createAlbum"
            ></v-text-field>
            <!-- Description -->
            <v-textarea
              label="Description"
              outline hide-details
              :rows="1" auto-grow
              v-model="description" :rules="[checkNotBlack]"
              @keyup.shift.enter.prevent="createAlbum"
            ></v-textarea>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            :disabled="!formValid"
            color="success"
            @click="createAlbum"
          >Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import Album from "@classes/Album.class";

@Component({})
export default class GksAdminNewAlbumPage extends Vue {
  // GKS helper
  $gks: $gks.$gks;
  $axios: any;
  $router: any;

  // Get album
  get albums(): Array<Album> {
    return this.$gks.data.albums;
  }

  /**
   * Form state
   */
  formValid: boolean = false;
  title: string = "";
  description: string = "";
  checkNotBlack = v => !!v || 'This is required.';

  /**
   * Create
   */
  async createAlbum() {
    if (!this.formValid) return;

    try {
      // Start loading
      this.$gks.actions.setLoading(true);

      // Make the post
      let albumData = await this.$axios
        .post(`/albums`, {
          title: this.title,
          description: this.description
        })
        .then((res: any) => res.data);

      // Make new album
      this.albums.push(new Album(albumData));
      this.$router.push(`/admin/album/${albumData.id}`);

      // Hide loading
      this.$gks.actions.setLoading(false);
    } catch(err) {
      this.$gks.actions.setLoading(false);
      this.$gks.actions.snackbar({type: "error", message: `Something went wrong...`})
    }
  }

}
</script>
