<template>
  <nuxt-child />
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"

@Component({
  // @ts-ignore
  middleware: ["isAdmin"]
})
export default class GksAdminShell extends Vue {
  // GKS Helper
  $gks: $gks.$gks;

  // On creation, get the albums
  created() {
    this.$gks.actions.getAlbums();
  }
}
</script>
