<template>
  <div class="mt-3">
    <v-hover
      v-for="album in albums" :key="album.id"
    >
      <v-card
        slot-scope="{ hover }"
        class="mb-4"
        :class="hover ? ['elevation-8'] : ['elevation-3']"
        :style="{
          cursor: 'pointer'
        }"
        :to="`/album/${album.id}`"
      >
        <v-container class="pa-0" grid-list-lg>
          <v-layout row wrap>
            <!-- Image -->
            <v-flex xs12 sm4 class="py-0">
              <v-img
                :aspect-ratio="$vuetify.breakpoint.xs ? null : 1"
                cover
                :src="`${album.coverUrl}?jwt=${jwt}`"
                class="grey lighten-2"
              ></v-img>
            </v-flex>
            <!-- Details -->
            <v-flex xs12 sm8 class="pa-3">
              <div
                class="fill-height"
                :style="{
                  display: 'flex',
                  flexDirection: 'column'
                }"
              >
                <div class="grow">
                  <div class="title">{{ album.title }}</div>
                  <div class="font-italic" v-html="album.description"></div>
                </div>
                <div class="shrink text-xs-right">
                  {{ album.$photos.length }} {{ album.$photos.length != 1 ? 'photos' : 'photo' }}
                </div>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-hover>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "nuxt-property-decorator"
import Album from "@classes/Album.class";

@Component({})
export default class GksLandingpage extends Vue {
  // GKS helper
  $gks: $gks.$gks;

  // Get jwt
  get jwt() {
    return localStorage.getItem("gksAuthToken");
  }

  // On mount, fetch albums
  mounted() {
    this.$gks.actions.getAlbums();
  }

  // Get all albums
  get albums(): Array<Album> {
    return this.$gks.data.albums;
  }

}
</script>
