<template>
  <div>

    <!-- Show message if no photos -->
    <div
      class="font-italic"
      v-if="album.$photos.length == 0"
    >No photos in this album...</div>
    <!-- Otherwise, show body -->
    <div v-else>

      <!-- If sorting -->
      <v-container
        class="pa-0"
        grid-list-lg
        v-if="albumDisplayMode=='sort'"
      >
        <draggable
          v-model="album.$sortedPhotos"
          class="layout row wrap"
          @update="onSort"
          handle=".dragHandle"
        >
          <v-flex
            v-for="photo in thePhotos" :key="photo.id"
            xs6 sm4 md3 lg2
          >
            <v-card
              class="elevation-3"
            >
              <v-img
                :src="photo.url('thumbnail')"
                :aspect-ratio="1"
                contain
                class="grey lighten-2 d-flex align-center justify-center"
              >
                <v-btn
                  icon
                  color="primary"
                  class="dragHandle"
                  :style="{
                    cursor: 'grab'
                  }"
                >
                  <v-icon class="dragHandle">fas fa-arrows-alt</v-icon>
                </v-btn>
              </v-img>
            </v-card>
          </v-flex>
        </draggable>
      </v-container>

      <!-- Edit mode -->
      <v-container
        class="pa-0"
        grid-list-lg
        v-if="albumDisplayMode=='edit'"
      >
        <v-layout row wrap>
          <v-flex
            v-for="photo in thePhotos" :key="`editPhoto-${photo.id}`"
            xs12 lg6
          >
            <v-card class="elevation-3">
              <v-card-text>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-card>
                      <v-img
                        :aspect-ratio="$vuetify.breakpoint.xs ? null : 1"
                        contain
                        :src="photo.url('thumbnail')"
                        class="grey lighten-2"
                      ></v-img>
                    </v-card>
                  </v-flex>
                  <!-- This is hacky because of grid-list-lg. -->
                  <v-flex xs12 sm8 class="pa-3">
                    <v-textarea
                      label="Description" outline hide-details
                      v-model="photo.description"
                      :rows="1" auto-grow
                      @keyup="photo.descriptionDirty = true"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-btn
                  outline color="error"
                  @click="deletePhoto(photo)"
                >Delete</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  icon
                  @click="makeCoverPhoto(photo)"
                >
                  <v-icon
                    :color="photo.cover ? 'yellow darken-2' : 'grey'"
                  >fas fa-star</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  :disabled="!photo.descriptionDirty"
                  color="success"
                  @click="updatePhotoDescription(photo)"
                >Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </div>



    <!-- New item FAB -->
    <v-btn
      fab fixed bottom right
      color="success"
      @click="onNewButtonClick"
    >
      <v-icon>fas fa-plus</v-icon>
    </v-btn>

    <!-- Speed dial -->
    <v-speed-dial
      v-model="menuFab"
      fixed bottom left color="info"
    >
      <!-- Activator -->
      <v-btn
        v-model="menuFab"
        color="info"
        fab slot="activator"
      >
        <v-icon>fas fa-bars</v-icon>
        <v-icon>fas fa-times</v-icon>
      </v-btn>
      <!-- Settings -->
      <v-btn
        fab color="info"
        :to="`/admin/album/${$route.params.id}/settings`"
      >
        <v-icon>fas fa-cogs</v-icon>
      </v-btn>
      <!-- Sort/edit mode -->
      <v-btn
        fab color="info"
        @click="albumDisplayMode = (albumDisplayMode=='sort') ? 'edit' : 'sort'"
      >
        <v-icon>fas {{ albumDisplayMode=='edit' ? 'fa-arrows-alt' : 'fa-edit' }}</v-icon>
      </v-btn>
      <!-- Delete album -->
      <v-btn
        fab color="error"
        @click="deleteAlbum"
      >
        <v-icon>fas fa-trash</v-icon>
      </v-btn>
    </v-speed-dial>

    <!-- File input, hiding away, ready to be triggered -->
    <input
      type="file"
      class="hidden"
      multiple
      ref="fileInput"
      @change="onFileChange"
      accept=".jpg, .jpeg, .tiff, .tif, .pdf, .psd, .psb"
      :style="{
        display: 'none'
      }"
    >

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "nuxt-property-decorator"
import Album from "@classes/Album.class";
import Photo from "@classes/Photo.class";
import draggable from 'vuedraggable';

// Validating image file
const isValidImageFile = (file: any) => {
  if (!file) return false;
  // Valid file types
  let validFileTypes = ["image/jpeg", "image/png", "image/tiff", "image/vnd.adobe.photoshop", "application/pdf"];
  // Check file
  return validFileTypes.includes(file) || validFileTypes.includes(file.type);
}

@Component({
  components: {
    draggable
  }
})
export default class HdAdminAlbumPage extends Vue {
  // GKS Helpers
  $gks: $gks.$gks;
  $axios: any;
  $route: any;
  $router: any;
  $refs: {
    fileInput: HTMLElement
  }

  // Get jwt for image
  get jwt() {
    return localStorage.getItem('gksAuthToken');
  }

  // Get specific album
  get album(): Album {
    return this.$gks.data.albums.find(i => i.id == this.$route.params.id) || new Album(null);
  }

  // Settings fab
  menuFab: boolean = null;

  /**
   * Delete a photo
   */
  async deletePhoto(photo: Photo) {
    let conf = confirm("Are you sure?");
    if (!conf) return;

    try {
      // Loading
      this.$gks.actions.setLoading(true);

      // Make post request
      this.$axios.delete(`/photos/${photo.id}`);

      // Eager-delete locally
      let elIndex = this.album.$photos.findIndex(i => i.id == photo.id);
      if (elIndex > -1) {
        this.album.$photos.splice(elIndex, 1);
      }
      // Show message
      this.$gks.actions.setLoading(false);
      this.$gks.actions.snackbar({type: "success", message: `Photo deleted.`});
    } catch (err) {
      this.$gks.actions.setLoading(false);
      this.$gks.actions.snackbar({type: "error", message: `Something went wrong.`})
    }
  }


  /**
   * Delete album
   */
  async deleteAlbum() {
    try {
      // Confirm
      let conf = confirm(`Are you SURE you want to delete this album?`);
      if (!conf) return false;

      // Make the request
      let album = await this.$axios
        .delete(`/albums/${this.$route.params.id}`)
        .then((res: any) => res.data);

      // Try to pop out the album
      let elIndex = this.$gks.data.albums.findIndex(i => i.id == this.$route.params.id);
      if (elIndex > -1) {
        this.$gks.data.albums.splice(elIndex, 1);
      }

      // Back to admin page
      this.$router.push(`/admin`);
    } catch(err) {
      console.log(err);
    }
  }

  /**
   * New items
   */
  // Upload state
  isUploading: boolean = false;
  errorMessages: Array<string> = [];

  // Trigger file input click
  onNewButtonClick() {
    this.$refs.fileInput.click();
  }

  // When file is changed, upload it.
  onFileChange($event: any) {
    let files = $event.target.files || $event.dataTransfer.files;

    if (files.length < 2 && (!isValidImageFile(files[0]) || !files[0])) {
      this.$gks.actions.snackbar({type: 'error', message: `File invalid.`});
      return;
    }

    this.uploadFiles(files);
  }

  // Upload files
  async uploadFiles(files) {
    this.isUploading = true;
    this.errorMessages = [];

    this.$gks.actions.setLoading({value: true, message: `Uploading photos...`});

    // Loop through the files and upload them
    for (let file of files) {
      try {
        // Generate form Data
        let formData = new FormData();
        formData.append('album', String(this.album.id));
        formData.append('file', file);

        // Upload the file.
        let imageData = await this.$axios
          .post(`/photos`, formData, {
            onUploadProgress: (progressEvent) => {
              // this.uploadProgress = Math.round((progressEvent.loaded * 100)/progressEvent.total)
            }
          })
          .then((res: any) => res.data);

        // Add the new photo
        this.album.$photos.push(new Photo(imageData));

      } catch(err) {
        console.log(err);
      }
    }
    this.$gks.actions.setLoading(false);
  } // End uploadFiles


  /**
   * Managing display mode
   */
  albumDisplayMode: "sort"|"edit" = "edit";
  @Watch('albumDisplayMode')
  onAlbumDisplayModeChange() {
    this.$nextTick(() => {
      this.handleScroll();
    })
  }

  /**
   * Update photo description
   */
  async updatePhotoDescription(photo: Photo) {
    try {
      await this.$axios.put(`/photos/${photo.id}`, {description: photo.description});
      photo.descriptionDirty = false;
      this.$gks.actions.snackbar({type: 'success', message: `Photo updated.`});
    } catch (err) {
      this.$gks.actions.snackbar({type: 'error', message: `Could not update photo.`});
    }
  }


  /**
   * Sort
   */
  onSort() {
    // Get data
    let photoOrder = this.album.$sortedPhotos.map(i => i.id);
    // Save data
    return this.$axios
      .put(`/albums/${this.album.id}/updatePhotoOrder`, {photoOrder: photoOrder})
      .catch(err => {
        console.log(err);
      })
  }



  /**
   * Handling changing cover photo
   */
  makeCoverPhoto(photo: Photo) {
    let oldCoverPhotos = [...this.album.$photos].filter(p => p.cover);
    // Update old photos to remove cover
    for (let coverPhoto of oldCoverPhotos) {
      coverPhoto.cover = false;
      console.log(coverPhoto.id);
      this.$axios.put(`/photos/${coverPhoto.id}`, {cover: false});
    }
    // Update this photo
    photo.cover = true;
    console.log(photo.id)
    this.$axios.put(`/photos/${photo.id}`, {cover: true});
  }





  // Photo limit
  photoLimit: number = 24;
  lastScrollTop: number = 0;

  // Get the photos (limited)
  get thePhotos(): Array<Photo> {
    return this.album.$sortedPhotos.slice(0, this.photoLimit);
  }


  /**
   * Handling scroll
   */
  handleScroll() {
    let w = <Window>window,
        d = <Document>document,
        st = w.pageYOffset || d.documentElement.scrollTop;

    // Check that we're scrolling down
    if (st >= this.lastScrollTop) {
      // Close to bottom
      if ((w.innerHeight + w.pageYOffset) >= (d.body.offsetHeight - 15)) {
        // If we can add pages, let's do it
        if (this.photoLimit < this.album.$photos.length) {
          this.photoLimit += 24;
          this.$nextTick(() => {
            this.handleScroll();
          })
        }
      }
    }
  }


  /**
   * Add scroll listener
   */
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
    this.handleScroll();
  }
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>
