<template>
  <div>
    <v-card class="elevation-3">
      <v-card-title class="font-weight-bold">Album Settings</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form v-model="formValid">
          <!-- Title -->
          <v-text-field
            label="Title" outline hide-details
            class="mb-2"
            v-model="title" :rules="[notBlank]"
            autofocus
          ></v-text-field>
          <!-- Description -->
          <v-textarea
            label="Description" outline hide-details
            :rows="1" auto-grow
            v-model="description" :rules="[notBlank]"
          ></v-textarea>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="!formValid"
          color="success"
          @click="updateAlbum"
        >Update</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "nuxt-property-decorator"
import Album from "@classes/Album.class";

@Component({})
export default class GksAdminAlbumSettingsPage extends Vue {
  // GKS helper
  $gks: $gks.$gks;
  $route: any;
  $axios: any;
  $router: any;

  // Get the album
  get album(): Album {
    return this.$gks.data.albums.find(i => i.id == this.$route.params.id) || new Album(null);
  }
  @Watch('album')
  onAlbumChange(album: Album) {
    this.title = (album && album.title) || "";
    this.description = (album && album.description) || "";
  }

  // State
  formValid: boolean = false;
  title: string = "";
  description: string = "";
  notBlank = v => !!v || 'This field is required.';


  /**
   * Update details
   */
  async updateAlbum() {
    try {
      if (!this.formValid || !this.album.id) return;

      // Start loading
      this.$gks.actions.setLoading(true);

      // Make the put
      let album = await this.$axios
        .put(`/albums/${this.album.id}`, {
          title: this.title,
          description: this.description
        })
        .then((res: any) => res.data);
      
      // Update locally.
      this.album.$setData(album);

      // Bounce back to album page
      this.$router.push(`/admin/album/${this.album.id}`);

      // Hide loading
      this.$gks.actions.setLoading(false);
    } catch(err) {
      this.$gks.actions.setLoading(false);
      this.$gks.actions.snackbar({type: "error", message: `Something went wrong.`});
    }
  }


  /**
   * On mount, pull in album data
   */
  mounted() {
    this.title = this.album.title;
    this.description = this.album.description;
  }

}
</script>
