<template>
  <v-app>
    <!-- If user can view the site... -->
    <template v-if="user.canViewSite">
      <!-- Toolbar if needed -->
      <v-toolbar
        app
      >
        <v-toolbar-items>
          <v-btn
            flat to="/"
            active-class=""
          >
            <v-icon>fas fa-home</v-icon>
          </v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <!-- Admin page for admins -->
          <v-btn
            flat
            to="/admin"
            v-if="user.isAdmin"
          >Admin</v-btn>
          <!-- Logout for everyone -->
          <v-btn
            flat
            @click="logout"
          >Logout</v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <!-- Actual content -->
      <v-content app>
        <v-container :style="{
          height: '100%'
        }">
          <nuxt />
        </v-container>
      </v-content>


    </template>
    <!-- End default template -->
    <!-- Otherwise, we're going to show a login card -->
    <template v-else>
      <v-content>
        <v-container fill-height justify-center>
          <v-card
            class="elevation-5"
            style="width: 500px;"
          >
            <v-tabs
              v-model="activeTab"
              grow
            >
              <v-tab
                v-for="tab in tabs" :key="`tab-${tab}`"
                :href="`#tab-${tab}`"
              >{{ tab }}</v-tab>
            </v-tabs>
            <v-divider></v-divider>
            <v-card-text>
              <v-alert
                type="error"
                :value="loginErrorMessage != ''"
                class="mb-3"
              >{{ loginErrorMessage }}</v-alert>
              <v-tabs-items
                v-model="activeTab"
              >
                <v-tab-item
                  value="tab-Guest"
                >
                  <v-text-field
                    label="Password" type="password"
                    outline hide-details
                    v-model="guestPassword"
                    @keyup.enter="login"
                  ></v-text-field>
                </v-tab-item>
                <v-tab-item
                  value="tab-Admin"
                >
                  <!-- Email -->
                  <v-text-field
                    label="Email" type="email"
                    v-model="adminEmail"
                    outline hide-details autofocus
                    class="mb-2"
                    @keyup.enter="login"
                  ></v-text-field>
                  <!-- Password -->
                  <v-text-field
                    label="Password" type="password"
                    v-model="adminPassword"
                    outline hide-details
                    @keyup.enter="login"
                  ></v-text-field>
                </v-tab-item>
              </v-tabs-items>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <!-- Submit button -->
              <v-btn
                color="primary" block
                :disabled="!formValid"
                @click="login"
              >Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-container>
      </v-content>
    </template> <!-- End login template -->

    <!-- Snackbar -->
    <v-snackbar
      v-model="showSnackbar"
      :timeout="6000"
      :color="snackbarType"
      top
    >
      {{ snackbarMessage }}
    </v-snackbar>

    <!-- Loading dialog -->
    <v-dialog
      v-model="$loading.value"
      width="300"
      persistent
    >
      <v-card>
        <v-card-text>
          {{ $loading.message }}
          <v-progress-linear
            indeterminate
            color="primary"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

  </v-app>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "nuxt-property-decorator"
import User from '@classes/User.class';
import isEmail from 'validator/lib/isEmail';

@Component({})
export default class GksDefaultLayout extends Vue {
  // Global Nuxt helper
  $gks: $gks.$gks;
  $axios: any;

  /**
   * Get the registered user
   */
  get user() {
    return this.$gks.data.user;
  }

  /**
   * Tab managemet
   */
  tabs: Array<string> = ["Guest", "Admin"];
  activeTab: string = "tab-Guest";


  /**
   * Form management
   */
  // State
  guestPassword: string = "";
  adminEmail: string = "";
  adminPassword: string = "";
  // Form valid
  get formValid(): boolean {
    switch (this.activeTab) {
      case "tab-Guest": return this.guestPassword.length > 2;
      case "tab-Admin": return (this.adminPassword.length > 2 && isEmail(this.adminEmail));
      default: return false;
    }
  }

  /**
   * Attempt to login
   */
  loginErrorMessage: string = "";

  login() {
    if (!this.formValid) return;

    this.loginErrorMessage = "";
    this.$gks.actions.setLoading(true);
    switch (this.activeTab) {
      case "tab-Guest": {
        this.guestLogin();
        break;
      }
      case "tab-Admin": {
        this.adminLogin();
        break;
      }
    }  
  }

  /**
   * Guest login
   */
  async guestLogin() {
    // Do a guest login
    try {
      this.loginErrorMessage = "";
      const {user, jwt} = await this.$axios
        .post(`/misc/guestLogin`, { password: this.guestPassword })
        .then((res: any) => res.data);

      // Store token
      localStorage.setItem('gksAuthToken', jwt);
      // Store user
      this.$gks.data.user = new User(user);
      // Reset credentials
      this.guestPassword = "";
      this.adminEmail = "";
      this.adminPassword = "";
      this.$gks.actions.setLoading(false);
    } catch (err) {
      this.loginErrorMessage = `Incorrect password.`;
      this.$gks.actions.setLoading(false);
    }
  }

  /**
   * Admin login
   */
  async adminLogin() {
    try {
      this.loginErrorMessage = "";
      const {user, jwt} = await this.$axios
        .post(`/misc/adminLogin`, { email: this.adminEmail, password: this.adminPassword })
        .then((res: any) => res.data);

      // Store token
      localStorage.setItem('gksAuthToken', jwt);
      // Store user
      this.$gks.data.user = new User(user);
      // Reset credentials
      this.guestPassword = "";
      this.adminEmail = "";
      this.adminPassword = "";
      this.$gks.actions.setLoading(false);
    } catch (err) {
      this.loginErrorMessage = `Bad credentials.`;
      this.$gks.actions.setLoading(false);
    }
  }

  /**
   * On tab change, remove login error message
   */
  @Watch('activeTab')
  onActiveTabChange(val: string) {
    this.loginErrorMessage = "";
  }


  /**
   * Logout
   */
  logout() {
    this.$gks.actions.logout();
  }


  /**
   * Handle snackbar
   */
  get snackbar() {
    return this.$gks.data.snackbar;
  }
  // Show snackbar?
  showSnackbar: boolean = false;
  snackbarMessage: string = "";
  snackbarType: string = "";

  // Watch snackbar
  @Watch('snackbar')
  onSnackbarChange(val) {
    if (val.message != "") {
      this.snackbarMessage = this.snackbar.message;
      this.snackbarType = this.snackbar.type;
      this.showSnackbar = true;
      this.$gks.actions.snackbar(null);
    }
  }


  /**
   * Handle loading dialog
   */
  get $loading() {
    return this.$gks.data.loading || {value: false, message: ""};
  }

  // showLoadingDialog: boolean = false;

  // On dialog change, update


}
</script>
