<template>
  <div>
    <!-- header title -->
    <div class="text-xs-center mb-4">
      <nuxt-link
        class="display-1 font-weight-bold"
        :style="{
          textDecoration: 'none'
        }"
        to="/admin"
      >Albums</nuxt-link>
    </div>

    <!-- Loop through albums and show thumbnail -->
    <v-container class="pa-0" grid-list-lg>
      <v-layout row wrap>
        <v-flex
          v-for="album in albums" :key="`album-${album.id}`"
          xs12 sm4
        >
          <v-hover>
            <v-card
              slot-scope="{ hover }"
              :to="`/admin/album/${album.id}`"
              :class="hover ? ['elevation-8'] : ['elevation-3']"
            >
              <v-img
                :src="`${album.coverUrl}?jwt=${jwt}`"
                :aspect-ratio="1" cover
                class="grey lighten-2"
              >
                <div
                  class="fill-height"
                  :style="{
                    display: 'flex',
                    flexDirection: 'column',
                    justifyContent: 'flex-end'
                  }"
                >
                  <div
                    class="pa-2 title text-xs-center"
                    :style="{
                      backgroundColor: `rgba(50, 50, 50, 0.6)`,
                      color: 'white'
                    }"
                  >{{ album.title }}</div>
                </div>
              </v-img>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
    </v-container>


    <!-- Fab for new album -->
    <v-btn
      fab fixed bottom right
      color="success"
      to="/admin/album/new"
    >
      <v-icon>fas fa-plus</v-icon>
    </v-btn>

    <!-- Eventual speed dial for additional settings -->

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import Album from '@classes/Album.class'

@Component({})
export default class GksAdminDashPage extends Vue {
  // Helper
  $gks: $gks.$gks;

  // Get jwt
  get jwt() {
    return localStorage.getItem("gksAuthToken");
  }

  // Get all albums
  get albums(): Array<Album> {
    return this.$gks.data.albums;
  }
}
</script>
