<template>
  <div
    class="grow"
    :style="{
      backgroundImage: photo.uuid ? `url('${photo.url('hero')}')` : '',
      backgroundSize: 'contain',
      backgroundPosition: 'center'
    }"
  >

    <!-- Banner for description here if needed -->
    <div
      v-if="photo.description"
      :style="{
        backgroundColor: `rgba(220, 220, 220, 0.9)`,
        color: 'black',
        position: 'fixed',
        left: 0, right: 0,
        bottom: `${$vuetify.application.bottom}px`
      }"
      class="pa-2 text-xs-center elevation-10"
    >{{ photo.description }}</div>

    <!-- Bottom navigation -->
    <v-bottom-nav
      app
      :value="true"
    >
      <v-btn
        flat
        :to="prevLink"
        :disabled="!prevLink"
      >
        <span>Prev.</span>
        <v-icon>fas fa-chevron-left</v-icon>
      </v-btn>
      <v-btn
        flat
        @click="downloadPhoto"
      >
        <span>Download</span>
        <v-icon>fas fa-download</v-icon>
      </v-btn>
      <v-btn
        flat
        :to="`/album/${$route.params.id}`" exact
      >
        <span>Album</span>
        <v-icon>fas fa-images</v-icon>
      </v-btn>
      <v-btn
        flat
        :to="nextLink"
        :disabled="!nextLink"
      >
        <span>Next</span>
        <v-icon>fas fa-chevron-right</v-icon>
      </v-btn>
    </v-bottom-nav>

    <!-- Hidden iframe for download -->
    <iframe ref="downloadIframe" style="display:none; visibility:hidden;"></iframe>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import Album from "@classes/Album.class";
import Photo from "@classes/Photo.class";

@Component({})
export default class HdViewPhotoPage extends Vue {
  // GKS Helper
  $gks: $gks.$gks;
  $route: any;
  $refs: {
    downloadIframe: HTMLIFrameElement
  }

  // Get jwt
  get jwt() {
    return localStorage.getItem('gksAuthToken');
  }

  // Get the album
  get album(): Album {
    return this.$gks.data.albums.find(i => i.id == this.$route.params.id) || new Album(null);
  }

  // Get the current photo
  get photo(): Photo {
    let photo = this.album.$photos.find(i => i.id == this.$route.params.photoid) || new Photo(null);
    console.log(photo)
    return photo;
  }

  // Get previous link
  get prevLink(): string {
    let thisPhotoIndex = this.album.$sortedPhotos.findIndex(i => i.id == this.$route.params.photoid);
    // If not at second image, no link
    if (thisPhotoIndex < 1) return "";
    // Get previous photo, use it for link
    let prevPhoto = this.album.$sortedPhotos[thisPhotoIndex - 1];
    return `/album/${this.$route.params.id}/${prevPhoto.id}`;
  }

  // Get next link
  get nextLink(): string {
    let thisPhotoIndex = this.album.$sortedPhotos.findIndex(i => i.id == this.$route.params.photoid);
    // If last image (or cannot find photo), no link
    if (
      thisPhotoIndex == this.album.$sortedPhotos.length - 1 ||
      thisPhotoIndex == -1
    ) return "";

    // Get next photo, use it for link
    let nextPhoto = this.album.$sortedPhotos[thisPhotoIndex + 1];
    return `/album/${this.$route.params.id}/${nextPhoto.id}`;
  }


  /**
   * Download the photo
   */
  downloadPhoto() {
    this.$refs.downloadIframe.src = `${this.$gks.data.API_BASE}/image/download/${this.photo.id}?jwt=${this.jwt}`;
  }

}
</script>
