<template>
  <div>
    <!-- No photos? show message -->
    <div
      v-if="album.$photos.length == 0"
      class="font-italic"
    >
      No photos yet...
    </div>

    <v-container class="pa-0" grid-list-lg>
      <v-layout row wrap>
        <v-flex
          v-for="photo in thePhotos" :key="photo.id"
          xs6 sm4 md3 lg2
        >
          <v-hover>
            <v-card
              slot-scope="{ hover }"
              :class="hover ? ['elevation-8'] : ['elevation-3']"
              :style="{
                cursor: 'pointer'
              }"
              :to="`/album/${$route.params.id}/${photo.id}`"
            >
              <v-img
                :aspect-ratio="1"
                contain
                :src="photo.url('thumbnail')"
                class="grey lighten-2"
              ></v-img>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import Album from "@classes/Album.class";
import Photo from "@classes/Photo.class";

@Component({})
export default class GksAlbumThumbnails extends Vue {
  // GKS helper
  $gks: $gks.$gks;
  $route: any;

  // Get jwt
  get jwt() {
    return localStorage.getItem('gksAuthToken');
  }

  // Get the album
  get album(): Album {
    return this.$gks.data.albums.find(i => i.id == this.$route.params.id) || new Album(null);
  }

  // Photo limit
  photoLimit: number = 24;
  lastScrollTop: number = 0;

  // Get the photos (limited)
  get thePhotos(): Array<Photo> {
    return this.album.$sortedPhotos.slice(0, this.photoLimit);
  }


  /**
   * Handling scroll
   */
  handleScroll() {
    let w = <Window>window,
        d = <Document>document,
        st = w.pageYOffset || d.documentElement.scrollTop;
    
    // Check that we're scrolling down
    if (st >= this.lastScrollTop) {
      // Close to bottom
      if ((w.innerHeight + w.pageYOffset) >= (d.body.offsetHeight - 15)) {
        // If we can add pages, let's do it
        if (this.photoLimit < this.album.$photos.length) {
          this.photoLimit += 24;
          this.$nextTick(() => {
            this.handleScroll();
          })
        }
      }
    }
  }


  /**
   * Add scroll listener
   */
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
    this.handleScroll();
  }
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  }



}
</script>